@import url("components/banner.css");

.navbar-container{
  max-width: 1140px;
  margin: 10px;
}

.wrapper-white{
  background: white;
  border-bottom: 0.5px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.testimonials-title{
  text-align: center;
  font-weight: 350;
  padding-bottom: 20px;
}

.navbar-kaizen{
  font-weight: 600;
  color: black;
}


.homepage-title{
  font-weight: 560;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  letter-spacing: -1.2px;
  line-height: 1.16;
  font-size: 3.4rem;
  text-align: left;
  margin-top: 50px;
}

.website-navigation a{
  color: #384050;
  font-weight: 600;
  margin: 0 24px;
}

.landing{
  padding-bottom: : 50px;
}

.row-features{
/*  display: flex;
  justify-content: center;
  align-items: center;*/
  padding: 6vh;
  padding-top: 60px:
}

.feature-title{
  font-size: 2.25rem;
  width: 100%;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-weight: 600;
  letter-spacing: -1.2px;
  line-height: 1.16;
  margin-bottom: 16px;
}

/*.container {
  padding: 0 20px;
  max-width: 1344px;
  width: 1344px;
}*/

.banner-text{
  text-align: left;
  font-size: 1.25rem;
  padding: 0;
  font-weight: 300;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
}

.features-border{
  width: 78%;
/*  border-bottom: 1px solid lightgrey;*/
  margin: 0 auto;
  padding: 20px 0;
}

.Features{
  width: 100vw;
  padding-top: 50px;
}

body{
  color: #384050;
}


.value-container{
  width: 100vw;
  margin: 0 auto;
}

.landing{
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  color: #384050;
}

.value-proposition{
  background-image: linear-gradient( 68.8deg,  rgba(119,202,189,1) 17.9%, rgba(91,178,218,1) 93.1% );
  color: white;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
}

.slogan-header{
  color: white;
  text-align: center;
  padding-bottom: 30px;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
}


.icon{
/*  border: 1px solid rgba(0,0,0,0.1);*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: rgba(0,0,0,0.1);
}

.sticker{
  font-size: 36px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bq{
  padding: 10px 0;
}

.description{
  width: 70%;
  padding-left: 20px
}

.slogan-header{
  font-weight: 350;
}

.value-container{
  padding: 40px;
}

.landing-header{
  max-width: 500px;
}

.testimonial-container{
  text-align: center;
}

.avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.quote-author{
  font-weight: 300;
  color: rgba(0,0,0,0.5);
  padding: 6px;
}

.meet-team{
  padding-bottom: 30px;
}

@media only screen and (min-width: 1192px) {
  .banner-text{
    color: white;
    margin-top: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .wechat-margin {
    margin-top: 60px;
  }

  .invite-box{
    margin-top: 70px;
  }

  .banner-text{
    text-align: left;
    font-size: 1.25rem;
    /*margin-top: 200px;*/
/*    color: white;*/
    padding: 0;
    font-weight: 300;
    font-family: Montserrat,Arial,Helvetica,sans-serif;
  }

  .testimonials{
    margin-top: 80px;
  }

  .team-bio{
    text-align: center;
    padding: 31px;
  }

}


.team-container{
  display: flex;
  justify-content: space-around;
}

.profile-pic{
  height: 400px;
  width: 250px;
}

.iphone{
  height: 79vh;
}

.team{
    padding: 50px;
    background-color: rgba(232, 244, 250, 0.5);
}

@media only screen and (max-width: 768px) {
  .wechat-margin {
    margin-top: 0px;
  }

  .invite-box{
    margin-top: 0px;
  }

  .feature-image{
    width: 100%;
  }

  .homepage-title{
    margin-top: 100px;
  }

  .wrapper-white{
  background: white;
  border-bottom: 0.5px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .team-bio{
  position: absolute;
  top: 20%;
  right: 10%;
  border: 4px solid #343F5E;
  width: 40%;
  padding: 20px;
  padding-right: 140px;
  }

  .profile-pic{
  height: 380px;
  width: 240px;
  opacity: 0.5;
  }

  .bio-title{
    font-style: italic;
    font-weight: 200;
  }

  .bio-container{
    padding: 25px 0px;
  }
}
